@import url(https://fonts.googleapis.com/css?family=VT323);

html, body {
  height: 100%;
  width: 100%;
  background-color: pink;
  color:linen;
  font-family: 'VT323';
}
li{
  font-size: 150%;
}
h1 {
  text-align: center;
  color: floralwhite;
  font-size: 200%;
}
h2{
  text-align: center;
  color: floralwhite;
  font-size: 200%;
}
h3{
  font-size: 200%;
}
img {
  height: 300px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid palevioletred;
}